#board {
    width: 470px;
    height: 446.5px;
    position: relative;    
}
#A0 {
    position: absolute;
    width: 140px;
    height: 133px;
    top: 0px;
    left: 0px;
}
#A1 {
    position: absolute;
    width: 140px;
    height: 133px;
    top: 0px;
    left: 160px;
}
#A2 {
    position: absolute;
    width: 140px;
    height: 133px;
    top: 0px;
    left: 321px;
}
#A3 {
    position: absolute;
    width: 140px;
    height: 133px;
    top: 156px;
    left: 0px;
}
#A4 {
    position: absolute;
    width: 140px;
    height: 133px;
    top: 156px;
    left: 160px;
}
#A5 {
    position: absolute;
    width: 140px;
    height: 133px;
    top: 156px;
    left: 321px;
}
#A6 {
    position: absolute;
    width: 140px;
    height: 133px;
    top: 314px;
    left: 0px;
}
#A7 {
    position: absolute;
    width: 140px;
    height: 133px;
    top: 314px;
    left: 160px;
}
#A8 {
    position: absolute;
    width: 140px;
    height: 133px;
    top: 314px;
    left: 321px;    
}

#BGModal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1000px;
    background-color: #000;
    opacity: .6;
}
.modal {
    display: block;        
}
#endModal {
    display: none;
    opacity: 0;
}
#endModal .modal-dialog {
    top: -500px;
}
#fire { 
    opacity: 0;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1000px;
}
#btn-reset {
    margin-top: 30px;
}